
.site-title
{
    text-align: center;
    font-size: 48px;
    color: #FCF6F6;
    margin-top: 1% !important;
    margin-bottom:0.5% !important;
    width: 33%;
    margin: auto;
    margin-left: 33.55%;
}
@media only screen and (max-width: 1250px)
{
    .site-title
    {
        margin-left: 34%;
    }

}
@media only screen and (max-width: 1070px)
{
    .site-title
    {
        margin-left: 34.2%;
    }

}
body
{
    background-color:#484848;
}
.container
{
    /* width: 80% !important; */
    /* height: 80px !important; */
    text-align: center;
}
.head-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
@media only screen and (max-width: 530px)
{
    .head-container
    {
        display: none;
    }

}
.site-username
{
    color: #fff;
    font-size: 26px;
    margin-right: 5%;
}
.mobile-head-container
{
    display: grid;
    width: 100%;
    height: 70px;
    background-color: #282828;
    border: solid;
    border-color: red;
}
.mobile-site-title
{
    color: #fff;
    border: solid;
    width: 40%;
    font-size: 40px;
    height: 70px;
    line-height: 70px;
    margin-left: 4%;
    grid-column-start:1;
    grid-column-end: 3;
}
.mobile-site-username
{
    /* display: none; */
    border: solid;
    float: right;
    width: 20%;
    font-size: 18px;
    color: #fff;
    margin-right: 2%;
}
@media only screen and (max-width: 400px) 
{
    .mobile-head-container
    {
        height: 60px;
    }
    .mobile-site-title
    {
        height: 60px;
        line-height: 60px;
    }
}
@media only screen and (min-width: 530px)
{
    .mobile-head-container
    {
        display: none;
    }
}