.Site-title
{
    text-align: center;
    font-size: 48px;
    color: #FCF6F6;
    margin-top: 1%;
    margin-bottom:0.5% !important;
    width: 33%;
    margin: auto;
}
body
{
    background-color:#484848;
}
.container
{
    width: 80% !important;
    height: 80px !important;
    text-align: center;
}

