
.site-title
{
    text-align: center;
    font-size: 48px;
    color: #FCF6F6;
    margin-top: 1% !important;
    margin-bottom:0.5% !important;
    width: 33%;
    margin: auto;
    margin-left: 33.55%;
    /* border: solid 1px white; */
}
@media only screen and (max-width: 1250px)
{
    .site-title
    {
        margin-left: 34%;
    }

}
@media only screen and (max-width: 1070px)
{
    .site-title
    {
        margin-left: 34.2%;
    }

}
body
{
    background-color:#484848;
}
.container
{
    /* width: 80% !important; */
    /* height: 80px !important; */
    text-align: center;
}
.head-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
    /* border: solid 1px white; */
}
@media only screen and (max-width: 640px)
{
    .head-container
    {
        display: none;
    }

}
.site-username
{
    color: #fff;
    font-size: 26px;
    margin-right: 5%;
    /* border: solid 1px white; */
}
.signOut
{
    font-size: 26px;
    color: white;
    margin-right: 5%;
    /* border: solid 1px white; */
}
.userIcon
{
    font-size: 26px;
    color: white;
    margin-right: 1%;
}
.userIcon-mobile
{
    font-size: 26px;
    color: white;
    margin-right: 3%;
    /* border: solid 1px white; */
}
.mobile-head-container
{
    display: table;
    width: 100%;
    height: 70px;
    background-color: #282828;
    /* border: solid;
    border-color: red; */
}
.mobile-site-title
{
    display: table-cell;
    color: #fff;
    /* border: solid; */
    width: 63%;
    font-size: 40px;
    height: 70px;
    line-height: 70px;
    text-align: left;
    padding-left: 4%;
}
.mobile-site-username
{
    display: table-cell;
    /* display: none; */
    /* border: solid; */
    text-align: left;
    /* float: right; */
    width: 25%;
    font-size: 24px;
    color: #fff;
    margin-right: 8%;
}
.mobile-site-username
{
    font-family: Calibri Light;
}
@media only screen and (max-width: 640px) 
{
    .mobile-head-container
    {
        height: 60px;
    }
    .mobile-site-title
    {
        height: 60px;
        line-height: 60px;
    }
}
@media only screen and (min-width: 640px)
{
    .mobile-head-container
    {
        display: none;
    }
}
