@media only screen and (max-width: 810px) 
{
    .navWrapper
    {
        display: none;
    }

}
.list li { 
    display:inline-block;
    width:33.33%;
    margin:0;
    padding:0;
    /* border-radius: 50px; */
}
.list a
{
    display: inline-block;
    font-size: 2.1em;
    text-decoration: none;
    width: 100%;
    color: #FFF;
}
@media only screen and (max-width: 1100px) 
{
    .homespan
    {
        font-size: 1.5em;
    }

}

.navWrapper
{
    background-color: #484848 !important;
    border-radius: 50px;
    border-color: #FFF;
    border-style: solid;
    margin-left: 7.5%;
    margin-right: 10%;
    margin-bottom: 4%;
}
.emergencybutton
{
    color: #E54545;
}
.home
{
    border-radius: 50px;
}